node_modules
**/node_modules
dist
**/dist
build
.git
.gitignore
.env
.env.*
**/.env
**/.env.*
!.env.example
**/.dockerignore
*.log
**/*.log
.dev.pid
**/.dev.pid
docker-compose*.yml
.vscode
.idea
coverage
**/coverage
